body {
            background-color:rgb(250, 140, 201);
            font-family: "Times New Roman";
            color:black;
            text-align: center;
        }
        ul {
            list-style: none;
        }
        li {
            display: inline-block;
            font-size: 20px;
            margin: 10px;
        }
        img {
            width: 200px;
            border-radius: 50%;
        }